*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

#hidden{
    visibility: hidden;
    background: url(./image/1668074576502.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
#close-bot{
    visibility: hidden;
}



