*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

#hidden{
    visibility: hidden;
    background: url(./image/1668074576502.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    margin-left: 30px;
   
}
#close-bot{
    visibility: hidden;
}

#bot{
    position: fixed;
    bottom: 0;
    top: 500px;
    left: 0;
    right: 0;
}



